<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | The Nobel Prize</title>
    <link rel="stylesheet" href="/assets/styles/main.css" />
  </head>
  <body>
    <header>
      <h1>The Nobel Prize</h1>
      {% include "nav" %}
      <h2>{{ title }}</h2>
    </header>

    <main>
      {{ content }}
    </main>

    {% include "footer" %}
  </body>
</html>