---
title: API paging and combining with Nobel Prizes
layout: base
---
<ul>
  <li>
    <a href="prizes/">Nobel Prizes with Laureate information from second data variable</a>
    <br/>Uses
    <code>prizes.liquid</code>
    and
    <code>_data/prizes.js</code>
  </li>
  <li>
    <a href="prizes-augmented/">Nobel Prizes with Laureate information combined</a>
    <br/>Uses
    <code>prizes-augmented.liquid</code>
    and
    <code>_data/prizes-augmented.js</code>
  </li>
</ul>